@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin: 0px;
    border: 0px;
    font-family: 'JetBrains Mono';
    
}
body{
    background-color: white;
}
html{
    scroll-behavior: smooth;
}

header{
    
    display: flex;
    background: linear-gradient(100deg, #020D7C, #0318e2);

    border-radius: 25px;
    width: 570px;
    padding: 1%;
    padding-right: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 7%;
    padding-right: 5%;
    
}

#headers{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 2%;
    margin-left: 2%;
    
}
.perfil{
    border-radius: 100%;
    margin-right: -8%;
    
}
span{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 80%;
}
img{
    margin-left: 6%;
   
}
main{
    display: grid;
    align-items: center;
    justify-content: center;
    
    
}
 
footer{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 30%;
    margin-bottom: 3%;
    color: white;
}
p{
    color: rgb(0, 0, 0);
    font-size: 15px;
     text-align: center;
}
.textoId{

    margin-right: -70%;
    margin-left: 8%;
    padding-left: 30%;
    padding-right: 30%;
}
#men{
    margin-left: -5%;
}

main{
    width: 90%;
    margin: 10%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
#intrucoes{
    text-align: justify;
   
}
#div-intrucoes{
    margin-bottom: 8%;
    display: grid;
    align-items: center;
    justify-content: center;
    
   
}
#cidade{
    
    color: rgb(0, 0, 0);
    
}
#selecionarCity{
    margin-left: 2%;
}

select{
    background-color: #012458c5;
    color: rgb(255, 255, 255);
    padding: 15px;
    width: 70%;
}
#unidade{
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: 6%;
}
#unidadesMG{
    margin-left: 2%;

    width: 70%;
}
option{
    background-color: #012458;
    color: rgb(255, 255, 255);
}
input{
    background-color: #ffffff3b;
    color: #000000;
    padding: 7px;
    margin-left: 6%;
    width: 63%;
    border-bottom: 1px solid black;

}
#nomeInput{
    margin-top: 6%;
   
    
}
p{
   
    font-size: 16px;
}
#name{
    margin-left: -14%;
}
.emailSenha{
    margin-left: 2%;
}

.inptSenhaEmail{
    width: 63%;
    margin-left: 4% ;
    
}
.textEmailSenha{
    
}
#botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
}
button{
    margin-left: 10%;
    color: white;
    padding: 15px;
    background: linear-gradient(100deg, #020D7C, #0318e2);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
}
button:hover{
    background-color: #242222;
    text-decoration: underline;
}
#conteudo{
    margin-top: 12%;
}
#test{
    margin: 0px;
}