@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin: 0px;
    border: 0px;
    font-family: 'JetBrains Mono';
    
}
body{
    background-color: white;
    
}
html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    background: linear-gradient(100deg, #020D7C, #0318e2);
    border-radius: 25px;
    width: 650px;
    padding: 1%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}

#headers{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2%;
    margin-left: 2%;
    
}
.perfil{
    border-radius: 100%;
    width: 50px;

    
}
.textoId > p{
    color: white;
    font-size: 20px;
    display: contents;
    
}
.textoId{
    color: white;
    font-size: 30px;
    font-weight: 900;
    margin-left: 24%;
    margin-right: 24%;
    display: flex;
    
}

img{
    width: 50px;
    border-radius: 100%;
   
}
main{
    display: grid;
    align-items: center;
    justify-content: center;
    
    
}
 
footer{
    margin-top: 4%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 3%;
    color: #0319e29b;
}
p{
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding-left: 2%;

}


main{
    width:40%;
    
    margin-top: 1%;
    margin-left: 30%;
}
.textCadastro{

    font-size: 25px;
    
    margin-bottom: 10%;
}

#ptextcadastro{
    font-size: 30px;
    display: contents;
    margin-top: 5%;
    
}
span{
    margin-left: 0px;
    padding: 0%;
    
}
#check{
    text-align: center;
    margin-bottom: 20%;
}
.texts{
    display: flex;
    margin-top: 5%;
}


@media (max-width: 818px){
    header{
        display: flex;
        background: linear-gradient(100deg, #020D7C, #0318e2);
        border-radius: 25px;
        width: 350px;
        padding-left: 6%;
        padding-right: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
        
    }
    
    #headers{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    main{
        width:85%;
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 7%;
        margin-left: 10%;
        
    }
    footer{
        margin-top: 51%;
    }
    .textoId{
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 900;
        margin-left: 24%;
        margin-right: 24%;
        display: flex;
        
    }
    .perfil{
        border-radius: 100%;
        width: 40px;
    }
    
     }