@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin: 0px;
    border: 0px;
    font-family: 'JetBrains Mono';
}
body{
    background-color: black;
}
html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    background-color: #4a42423b;
    border-radius: 25px;
    width: 270px;
    padding: 1%;
    padding-right: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    
}
#headers{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-left: 2%;
    
}
.perfil{
    border-radius: 100%;
    margin-right: 2%;
}
span{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 80%;
}
img{
    padding: 2%;
    padding-left: 4%;
   
}
main{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    
}
 
footer{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 130%;
    margin-bottom: 3%;
    color: white;
}
.textoId{

    margin-right: -70%;
    margin-left: 8%;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
    text-align: center;
}
#men{
    margin-left: -5%;
}
.textCadastro{
    margin-top: 3%;
    color: white;
    font-size: 20px;
    display: flex;
    padding: 20px;
     
}
#check{
   display: grid;
   align-items: center;
   justify-content: center;

}
#div-select{
    background-color: #4a42423b;
    color: white;
    padding: 5px;
    width: 80%;
  
}
#func{
    width: 200px; background-color: #4a42423b; color: white; padding: 10px; border-radius: 10px; margin-left: 20%; margin-top: 20px;
}
button{
    color: white;
    padding: 20px;
    background-color: #403939db;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 24%;
}
#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
table{
    color: white;
    margin-top: 10%;
    margin-left: 4%;
    border-collapse: collapse;
    border: 1px white solid;
    width: 85%;
    padding:3px;
    font-size: 10px;
} 
th, td{
    padding: 1px;
    padding-top: 3%;
    margin: 0px;


}
tr, td, colgroup{
    border: 1px white solid;
    text-align: center;
}


