@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
padding: 0px;
font-family: 'JetBrains Mono';
background-color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin-right: 3%;
   margin-left: 3%;
    
}
img{
    width: 500px;
    
}
a{
    color: #023859;
    text-decoration: none;
    font-weight: bolder;
    font-size: 35px;
    margin-right: 5px;
    padding-right: 15px;
    
}
a:hover{
    color: #1123CC;
    font-size: 40px;
    transition: ease-in-out 0.4s;
}
#sectImg{
    width: 500px;
}
main{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    justify-content: center;
}
h2{
    color: #1123CC;
    font-size: 64px;
    font-weight: bolder;
    font-family: "Poppins", Helvetica, sans-serif;

}
p{
    font-size: 35px;
    text-align: justify;
    
}
#text{
    padding-left: 15%;
    width: 800px;
}
b{
    color: #1123CC;
    font-weight: bolder;
}





